@tailwind base;
@tailwind components;
@tailwind utilities;

.cat{
    background-image: url(https://iili.io/d9dowp1.png);
    background-size: cover;
    background-position: center;
    width: 20vw;
    height: 20vh;
    position: absolute;
    top: 1%;
    left: 40%;
}